/Debug
/release
apple_logo.cci
Backup Of microProj.pdsbak
circle.cci
kashanu_logo.cci
Last Loaded microProj.pdsbak
microProj.pdsprj.DESKTOP-390CBG9.Sahar Nafisi.workspace
microProject.atsln
microProject.c~
microProject.cbi
microProject.cci
microProject.cof
microProject.cproj
microProject.fct
microProject.prj~
microProject.txt
rectangle.cci